[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
fastapi-limiter = "*"
aioredis = "*"
sqlalchemy = "*"
python-decouple = "*"
psycopg2-binary = "*"
python-jose = "*"
passlib = "*"
python-multipart = "*"
databases = "*"
asyncpg = "*"
bcrypt = "*"
jose = "*"
cryptography = "*"

[dev-packages]

[requires]
python_version = "3.10"
